.navbar {
    background-color: rgb(39, 76, 119);
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 0.5rem;
}

.navbar :hover {
    background-color: rgb(29, 66, 109)
}

span {
    margin: 5px;
    font-size: 1.25rem;
    color: white;
}

Link {
    text-decoration-line: none;
}