.container {
    background-color: white;
    color: black;
    margin: 1vw;
    border-radius: 10px;
}

.precio {
    text-align: right;
    padding-right: 2vw;
    font-size: 4vw;
}

img {
    height: 40vh;
}

p {
    margin: 2vw;
}