body {
    background-color: rgb(24, 24, 24);
    color: rgb(231, 236, 239);
    text-align: center;
    align-content: center;
    margin: 0%;
}

header {
    background-color: rgb(39, 76, 119);
    color: white;
    padding: 2rem;
    font-size: 3rem;
    margin-bottom: 0.5px;
}

h1 {
    font-size: 3vw;
}

div {
    align-content: center;
}